body {
    background-color: burlywood;
}

.text-wrapper {
    margin-left: 45px;
}

.image-wrapper {
    margin: 0;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    min-height: 100vh;
    flex-direction: column;
}

.photo-container {
    display: flex;
    flex-wrap: wrap;
    margin: 5px;
}

.photo {
    height: 100px;
}

.photo-large {
    flex: 1; 
    margin-right: 5px; 
}

.photo-small {
    flex: 1; 
}
.top-photos {
    margin-bottom: 10px;
}

.bottom-photos {
    margin-top: 10px;
}
.image-wrapper{
    margin-left: 40px;  
}
.myButton {
    padding: 10px 20px;
    font-size: 16px;
    background-color: burlywood;
    color: black;
    border:color(from color srgb r g b);
    border-radius: 5px;
    cursor: pointer;
    margin-left: 300px;
    margin-top: 150px;
}
